<% provide(:title, 'New Ember') %>
<h1>New Ember</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @hero, :html => {:multipart => true} do |f| %>

			<%= f.label :name, "What is the name of your loved one?" %><br>
			<%= f.text_field :first_name, placeholder: "First name" %>
			<%= f.text_field :last_name, placeholder: "Last name" %><br>

			<%= f.label :birthdate, "When were they born?" %><br>
			<%= f.date_select :birthdate, {:order => [:month, :day, :year], :start_year =>  Time.now.year - 120,  :end_year =>  Time.now.year}, {:class => "selectpicker"} %>
			<br>
			<%= f.label :synopsis, "What are some of their greatest accomplishments?" %>
			<%= f.text_area :synopsis %>

			<%= f.label :story, "Please tell us their story" %>
			<%= f.text_area :story %>

			<%= f.label :deathdate, "When did they pass away?" %><br>
			<%= f.date_select :deathdate, {:order => [:month, :day, :year], :start_year =>  Time.now.year - 120, :end_year =>  Time.now.year}, {:class => "selectpicker"} %>
			<br>
			<%= f.label :city, "What city did they call home?  (helps friends and family to find them on the site)" %>
			<%= f.text_field :city, placeholder: "City" %>
			<%= f.text_field :state, placeholder: "State", :maxlength => 2 %>


			<%= f.label :image, "Please upload a photo of your loved one" %>
			<%= f.file_field :image, :onchange =>"validateFiles(this);", :data => { :max_file_size => 5.megabytes } %>


			

			<%= f.submit "create new hero", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>