

<% provide(:title, @hero.name) %>


<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">





<div class="row">

		<%# 20.times do |background| %>
			<%# s = rand(10..50) %>
			<%# left_placement = rand(1..95) %>
			<%# top_placement = rand(40..320) %>
			<%# opacity = rand(3..9) %>
			<%# zindex = rand(-6..-9) %>
			<%# angle = rand(0...360) %>

			
			<%# content_tag(:div, nil, :style => "opacity: .#{opacity}; position: absolute; left: #{left_placement}%; top: #{top_placement}px; height: #{s}px; width: #{s}px; border: solid 1px #028372; border-radius: #{s/2}px; z-index: #{zindex}; background:  -webkit-linear-gradient(#{angle}deg,rgba(2, 95, 74, .9),rgba(2, 95, 74, .7) 70%, rgba(2, 95, 74, .8));") %>
		
			<!-- #25c189 and black -->
			<%#= image_tag("bg_small_circle.png", alt: "circle", :size => "#{s}x#{s}", :style =>"z-index: #{ rand(0..4)}; position: absolute; left: #{left_placement}%; top: #{top_placement}px;") %>
		<%# end %>




		<% l = ([*1..95] - [*35..62]) %>


		
		<%# 8.times do |blur| %>
			<%# s = rand(160..350) %>
			<%#= image_tag("bg_circle_icon.png", alt: "circle", :size => "#{s}x#{s}", :style =>"z-index: -11; position: absolute; left: #{l.sample}%; top: #{ rand(28..200) }px;") %>
		<%# end %>

		<% @postings.each do |post| %>
			<% s = rand(20..70) %>
			<% p = post.id.to_s %>
			<% angle = rand(0...360) %>
	
			<%= link_to content_tag(:div, nil, :style =>"z-index: #{ rand(2..4)}; background: -webkit-linear-gradient(#{angle}deg,rgba(2, 95, 74, .9),rgba(2, 95, 74, .7) 70%, rgba(2, 95, 74, .8)); position: absolute; left: #{l.sample}%; top: #{ rand(28..280) }px; height: #{s}px; width: #{s}px; border-radius: #{s/2}px; opacity: .#{rand(3..7)}; border: solid 1px #028372;", :class => "bubble", :data => { :toggle => "modal", :target => "#" + p} ) %>
			

			<div class="modal fade" id="<%= p %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Message</h4>
			      </div>
			      <div class="modal-body">
			        <%= post.post %>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Done</button>
			        
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		<% end %>

		<% @images.shuffle.each do |img| %>
			
			<% s = rand(20..70) %>
			
			<a href="<%= image_path(img.image) %>" title="<%=img.title%>" data-gallery="test2"> <%= content_tag(:div, nil, :style =>"z-index: #{ rand(2..4)}; background: #223caa; position: absolute; left: #{l.sample}%; top: #{ rand(28..280) }px; height: #{s}px; width: #{s}px; border-radius: #{s/2}px; opacity: .#{rand(3..7)}; border: solid 1px #1b2f83", :class => "bubble" ) %></a>
	
		<% end %>

		<% @videos.shuffle.each do |vid| %>	
			
			<% s = rand(20..70) %>
			<% id = ('a'..'z').to_a.shuffle[0,8].join %>

			<a href="#<%= id %>" class="sublime">
			  <%= content_tag(:div, nil, :style =>"z-index: #{ rand(2..4)}; background: #fb7713; position: absolute; left: #{l.sample}%; top: #{ rand(28..280) }px; height: #{s}px; width: #{s}px; border-radius: #{s/2}px; opacity: .#{rand(3..7)}; border: solid 1px #e76604", :class => "bubble" ) %>
			</a>
			<video id="<%= id %>" width="640" height="360" style="display:none" data-uid="<%= id %>" preload="none">
			  <source src=<%= vid.file.url%>  />
			</video>

		<% end %>

<div class="col-md-12 hero-background">
		<%= image_tag(@hero.image.url(:portrait).to_s, :class => "portrait" ) %>
		
		<h1 class="center" <% if hero_admin? %>style="padding-left:40px"<% end %> ><%= @hero.name %> 
			<% if hero_admin? %>
				<span>( <%= link_to "Edit", edit_ember_path %> )</span>
			<% end %>
		</h1>

	</div>

	<div class="col-md-3">

		<div id="ajax_images"> <%= render 'images' %></div>

		<div id="ajax_videos"> <%= render 'videos' %></div>
		
	</div>

	<div class="col-md-6">			
		<div>
			<p><%= simple_format(@hero.synopsis) %></p>
			<p><%= simple_format(@hero.story) %></p>
		</div>
		<br/>
	</div>

	<div class="col-md-3">

		<div id="ajax_messages"><%= render 'messages' %></div>

	</div>
</div>






<!--<script type="text/javascript">
	jQuery(function() {
	  jQuery(".fancybox").fancybox({
	  		'cyclic': true,
	  		'showCloseButton' : false,
	  		'padding': 0,
	  		'titleShow': false,
	  		'titlePosition': 'over',
	  		'overlayColor': '#000',
	  		'overlayOpacity': 0.9
	  	});
	});
</script>-->