
	

	<%#<script type="text/javascript">

		jQuery(function() {
			$(document).bind 'page:change', ->
 			$.fancybox.init()

 			// turbolinks vs fancybox bug
			$galleryHolder = $('<div id="gallery_holder"></div>').appendTo(document.body);
			$('.gallery').fancybox({
			    'parent': $galleryHolder,
			    'openEffect': 'none',
			    'closeEffect': 'none'
			});

		  jQuery(".fancybox").fancybox({
		  		'cyclic': true,
		  		'showCloseButton' : false,
		  		'padding': 0,
		  		'titlePosition': 'over',
		  		'overlayColor': '#000',
		  		'overlayOpacity': 0.6
		  	});
		});
		

	</script>%>

	<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
	<h3 class="img-h3">Images<span class="upload-buttons"><%= link_to "Add", new_hero_image_path(:image_hero => @hero.id), class: "btn btn-default btn-xs image-button" %></span></h3>

	<div id="links">
		<% @all_images.each do |img| %>
        <span class="corner_wrapper">
		<a class="gallery" href="<%= image_path(img.image)%>" title="<%=img.title%>" rel="hero_gallery" data-gallery="test"> <%= image_tag(img.image.url(:thumb), :class => "hero-image") %></a>
            <% if hero_admin? %>
                
                <%=link_to "x",hero_image_path(img.id, :img_hero => @hero.id), :method => :delete, :class => "img-top-right", :confirm => "Are you sure you want to delete this image?"%>
            <% end %>
        </span>
		<% end %>
		<%= will_paginate @all_images, :param_name => 'image_page', :page_links => false %>
	</div>

</div>

<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

