<% provide(:title, 'All heroes') %>
<h1>Heroes<span class="new-hero"><%= link_to "Add New Hero", new_hero_path, class: "btn btn-large btn-primary hero-button" %>
</span></h1>

<div class="center">
<% if @heroes.count > 0 %>

	<%= will_paginate %>


		<% @heroes.shuffle.each do |hero| %>
		
		<span class="wrapper">
			<span class="heroes-listings">
				<%= link_to image_tag(hero.image.url(:list).to_s, :class => "hero-listing" ), hero_path(hero) %>
				<!--<span><%= render hero %></span>-->
			</span>
			<span class="heroes-hover" >
				<%= hero.name %>
			</span>
		</span>
		<% end %>
</div>
	

	
	<%= will_paginate %>

<% else %>

	<h3 class="center">no heroes with that name found, please search again.</h3>
<% end %>
